<div class="container">

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">Ranking de Escolas</h2>

                <p> Foram utilizados dados provenientes do Exame Nacional do Ensino Médio (ENEM) aplicado no ano de 2015 que estão disponibilizados no portal do <a href="http://portal.inep.gov.br/web/guest/microdados">Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira.</a>                    É importante lembrar que a participação no exame é de caráter voluntário e, por esta razão, a representatividade dos resultados varia de acordo com o percentual de participação de estudantes em cada escola.
                </p>
                <p>
                    <em>Observação:</em> As proficiências dos alunos matriculados em mais de uma turma, na mesma escola, foram consideradas apenas uma vez para o cálculo da média de proficiências da unidade escolar.
                </p>
            </div>

            <div class="blog-post">
                <h2 class="blog-post-title">Critérios para o Cálculo das proficiências por escola</h2>

                <p>Segundo o INEP, para o cálculo das proficiências por escola, em cada uma das provas objetivas e da Redação, foram considerados, concomitantemente:
                    <br />A) Os alunos do ensino médio, declarados por suas escolas no Censo Escolar 2015, matriculados na 3a série do ensino médio regular, excluídos os do ensino médio não seriado,
                    <br/>
                    </br />B) Os participantes, ou seja, os alunos, dentre os descritos no item A, que realizaram as quatro provas objetivas e a prova de Redação, obtendo proficiências superiores a 0 (zero) em todas as provas objetivas.
                </p>
                <p>
                    <em>Observação: As proficiências dos alunos matriculados em mais de uma turma, na mesma escola, foram
consideradas apenas uma vez para o cálculo da média de proficiências da unidade escolar.</em>
                </p>

                <p>O INEP divulga a proficiência média por unidade escolar para cada uma das Áreas do Conhecimento e para a Redação, a saber:
                    <br /> I. Proficiência Média em Ciências da Natureza e suas Tecnologias;
                    <br /> II. Proficiência Média em Ciências Humanas e suas Tecnologias;
                    <br /> III. Proficiência Média em Linguagens, Códigos e suas Tecnologias;
                    <br /> IV. Proficiência Média em Matemática e suas Tecnologias;
                    <br /> V. Proficiência Média em Redação.
                    <br />
                </p>
                <p>
                    Para calcular a proficiência média por Área de Conhecimento e Redação – médias I, II, III, IV e V – o INEP utiliza a média simples do desempenho dos estudantes participantes da escola. A divulgação destes dados foi realizada para as escolas que atenderam,
                    concomitantemente, os seguintes requisitos:
                    <br /> I) possuir pelo menos 10 (dez) alunos participantes no Enem 2015 dentre os alunos do ensino médio regular seriado considerados para o cálculo; e
                    <br/> II) possuir pelo menos 50% de alunos participantes do Enem 2015, de acordo com os dados do Censo Escolar 2015.
                </p>
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">Critérios para o Cálculo do ranking por escola</h2>

                <p>Para calcular a média por escola o ranking é baseado na média simples das proficiências por Área de Conhecimento e Redação dos estudantes participantes do ENEM 2015 por escola.</p>

            </div>
        </div>
        <!-- /.blog-main -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<footer class="blog-footer">
    <p>
        <a href="/">Voltar para o ranking</a>
    </p>
</footer>
