<div class="container">
    <div class="row">
        <h1>{{title}}</h1>
        <p>Ranking para as escolas do ensino médio de acordo com as notas do ENEM.</p>

    </div>
    <!-- Begin filter area -->
    <div class="row">
        <div>
            <form id="filterForm">
                <div class="form-group col-md-2">
                    <select class="form-control mainOption" name="adm">
                    <option value="">TODOS OS TIPOS</option>
                    <option value="PUB">PÚBLICAS</option>
                    <option value="PRI">PRIVADAS</option>
            </select>
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control mainOption" name="uf" class="uf" id="uf">
                    <option value="">TODO O PAÍS</option>
                    <option value="AC">ACRE</option>
                    <option value="AL">ALAGOAS</option>
                    <option value="AP">AMAPÁ</option>
                    <option value="AM">AMAZONAS</option>
                    <option value="BA">BAHIA</option>
                    <option value="CE">CEARÁ</option>
                    <option value="DF">DISTRITO FEDERAL</option>
                    <option value="ES">ESPÍRITO SANTO</option>
                    <option value="GO">GOIÁS</option>
                    <option value="MA">MARANHÃO</option>
                    <option value="MT">MATO GROSSO</option>
                    <option value="MS">MATO GROSSO DO SUL</option>
                    <option value="MG">MINAS GERAIS</option>
                    <option value="PA">PARÁ</option>
                    <option value="PB">PARAÍBA</option>
                    <option value="PR">PARANÁ</option>
                    <option value="PE">PERNAMBUCO</option>
                    <option value="PI">PIAUÍ</option>
                    <option value="RJ">RIO DE JANEIRO</option>
                    <option value="RN">RIO GRANDE DO NORTE</option>
                    <option value="RS">RIO GRANDE DO SUL</option>
                    <option value="RO">RONDÔNIA</option>
                    <option value="RR">RORAIMA</option>
                    <option value="SC">SANTA CATARINA</option>
                    <option value="SP">SÃO PAULO</option>
                    <option value="SE">SERGIPE</option>
                    <option value="TO">TOCANTINS</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control mainOption" name="municipality" class="municipality" id="municipality">
                    <option></option>
                  </select>
                </div>
                <button type="button" onclick="filterSchools()" type="button">PESQUISAR</button>
            </form>
        </div>
        <div class="form-group col-md-8">
            <form method="post" action="/searchSchoolsByName" class="form-wrapper cf">
                <input name="name" type="text" placeholder="PESQUISAR POR ESCOLA" required>
                <button type="submit">Pesquisar</button>
            </form>
        </div>
    </div>
    <!-- End filter area -->
    <div class="row">
        <div>
            <table id="schoolTable" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="sorting_asc">Posição</th>
                        <th class="sorting_asc">Nome</th>
                        <th class="sorting_asc">UF</th>
                        <th class="sorting_asc">Média</th>
                    </tr>
                </thead>
                <tbody id="schoolList">
                </tbody>
            </table>
            <div class="clearfix"></div>
            <ul class="pagination pull-right">
                <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    function filterSchools() {
        $('#schoolList').html('');
        $.ajax({
            type: "POST",
            url: '/filters',
            data: $("#filterForm").serialize(), // serializes the form's elements.
            success: function(filteredSchools) {
                for (school of filteredSchools) {
                    $('#schoolList').append('<tr><td></td><td>' + school.name + '</td><td>' + school.uf + '</td><td>' + roundAverage(school.average) + '</td></tr>');
                }
            }
        });
    }

    function roundAverage(average) {

        return average.toFixed(2);
    }

    $(document).ready(function() {
        filterSchools();

        $('#uf').change(function() {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;

            $('#municipality').html("");
            //tratar se usuario escolher em branco
            $.ajax({
                    method: "GET",
                    url: "/municipalities/" + valueSelected,
                })
                .done(function(municipalities) {
                    $('#municipality').append('<option>' + "" + '</option>');
                    for (municipality of municipalities) {
                        $('#municipality').append('<option>' + municipality + '</option>');
                    }
                });
        });
    });
</script>
