<div class="container">
    <div class="row">
        <h1>{{title}}</h1>
        <p>Ranking para as escolas do ensino médio de acordo com as notas do ENEM.</p>

    </div>
    <!-- Begin filter area -->
    <div class="row">
        <div>
            <form id="filterForm">
                <div class="form-group col-md-2">
                    <select class="form-control mainOption" name="adm" id="adm">
                    <option value="">TODOS OS TIPOS</option>
                    <option value="PUB">PÚBLICAS</option>
                    <option value="PRI">PRIVADAS</option>
            </select>
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control mainOption" name="uf" class="uf" id="uf">
                    <option value="">TODO O PAÍS</option>
                    <option value="AC">ACRE</option>
                    <option value="AL">ALAGOAS</option>
                    <option value="AP">AMAPÁ</option>
                    <option value="AM">AMAZONAS</option>
                    <option value="BA">BAHIA</option>
                    <option value="CE">CEARÁ</option>
                    <option value="DF">DISTRITO FEDERAL</option>
                    <option value="ES">ESPÍRITO SANTO</option>
                    <option value="GO">GOIÁS</option>
                    <option value="MA">MARANHÃO</option>
                    <option value="MT">MATO GROSSO</option>
                    <option value="MS">MATO GROSSO DO SUL</option>
                    <option value="MG">MINAS GERAIS</option>
                    <option value="PA">PARÁ</option>
                    <option value="PB">PARAÍBA</option>
                    <option value="PR">PARANÁ</option>
                    <option value="PE">PERNAMBUCO</option>
                    <option value="PI">PIAUÍ</option>
                    <option value="RJ">RIO DE JANEIRO</option>
                    <option value="RN">RIO GRANDE DO NORTE</option>
                    <option value="RS">RIO GRANDE DO SUL</option>
                    <option value="RO">RONDÔNIA</option>
                    <option value="RR">RORAIMA</option>
                    <option value="SC">SANTA CATARINA</option>
                    <option value="SP">SÃO PAULO</option>
                    <option value="SE">SERGIPE</option>
                    <option value="TO">TOCANTINS</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control mainOption" name="municipality" class="municipality" id="municipality">
                    <option></option>
                  </select>
                </div>
                <div class="form-group col-md-2 form-wrapper cf">
                    <input name="name" type="text" placeholder="PESQUISAR POR ESCOLA" id="schoolName">
                </div>
            </form>
        </div>
    </div>
    <!-- End filter area -->
    <div class="row">
        <div>
            <table id="schoolTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Posição</th>
                        <th>Nome</th>
                        <th>UF</th>
                        <th>Média</th>
                    </tr>
                </thead>
                <tbody id="schoolList" class="has-drawer">
                    <div id="schoolDrawer" class="drawer dw-xs-10 dw-sm-6 dw-md-4 fold" aria-labelledby="schoolDrawer">
                        <div class="drawer-contents">
                            <div class="drawer-heading">
                                <div>
                                    <div class="drawer-controls close-drawer">
                                        <a href="#schoolDrawer" data-toggle="drawer" aria-foldedopen="false" aria-controls="schoolDrawer" class="btn btn-primary btn-sm"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <h3 class="school-name" id="drawer-title"></h3>
                                <h4 class="drawer-subtitle" id="drawer-subtitle"></h4>
                                <div class="dw-xs-8 dw-sm-4 dw-md-2">
                                    <h5 class="school-adm" id="school-adm"></h5>
                                </div>

                            </div>
                            <div class="drawer-body">
                                <div class="dw-xs-10 dw-sm-6 dw-md-4">
                                    <h5 class="school-label">RANKING GERAL</h5>
                                    <h5 class="school-value" id="school-position"></h5>
                                    <h5 class="school-label">MÉDIA GERAL</h5>
                                    <h5 class="school-value" id="school-average"></h5>
                                </div>
                                <div class="drawer-section"></div>
                                <div class="dw-xs-15 dw-sm-11 dw-md-9">
                                    <h5 class="school-label">TAXA DE PARTICIPAÇÃO</h5>
                                    <h5 class="school-value" id="participation-rate"></h5>

                                    <h5 class="school-label">TAXA DE APROVAÇÃO</h5>
                                    <h5 class="school-value" id="approval-rate"></h5>

                                    <h5 class="school-label">TAXA DE REPROVAÇÃO</h5>
                                    <h5 class="school-value" id="disapproval-rate"></h5>

                                    <h5 class="school-label">TREINAMENTO DOS PROFESSORES</h5>
                                    <h5 class="school-value" id="teacher-training"></h5>

                                    <h5 class="school-label">TAXA DE PERMANÊNCIA</h5>
                                    <h5 class="school-value" id="permanence-rate"></h5>

                                    <h5 class="school-label">TAXA DE ABANDONO</h5>
                                    <h5 class="school-value" id="abandonment-rate"></h5>

                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
            </table>
            <div class="clearfix"></div>
            <ul class="pagination pull-right">
                <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    var SCHOOLS = [];

    function showSchoolDetails(position) {
        var school = SCHOOLS[position];
        $('#drawer-title').html(school.name);
        $('#drawer-subtitle').html(school.uf);
        $('#school-adm').html(school.adminDependency);
        $('#school-position').html(school.position);
        $('#school-average').html(roundAverage(school.average));
        $('#participation-rate').html(school.participationRate + '%');
        $('#abandonment-rate').html(school.abandonmentRate + '%');
        $('#approval-rate').html(school.approvalRate + '%');
        $('#disapproval-rate').html(school.disapprovalRate + '%');
        $('#permanence-rate').html(school.permanenceRate);
        $('#teacher-training').html(school.teacherTraining + '%');

        $("#schoolDrawer").drawer('show');
    }

    function filterSchools() {
        $('#schoolList').html('');
        $.ajax({
            type: "POST",
            url: '/filters',
            data: $("#filterForm").serialize(), // serializes the form's elements.
            success: function(filteredSchools) {
                SCHOOLS = filteredSchools;
                for (var i = 0; i < SCHOOLS.length; i++) {
                    var school = SCHOOLS[i];
                    $('#schoolList').append('<tr onclick="showSchoolDetails(' + i + ')"><td>' + school.position + '</td><td>' + school.name + '</a></td><td> ' + school.uf + ' </td><td> ' + roundAverage(school.average) + '</td></tr>');
                }
            }
        });
    }

    function roundAverage(average) {
        return average.toFixed(2);
    }

    $(document).ready(function() {
        $('#schoolTable').DataTable();
        filterSchools();

        $('#uf').change(function() {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;

            $('#municipality').html("");
            $.ajax({
                    method: "GET",
                    url: "/municipalities/" + valueSelected,
                })
                .done(function(municipalities) {
                    $('#municipality').append('<option>' + "" + '</option>');
                    for (municipality of municipalities) {
                        $('#municipality').append('<option>' + municipality + '</option>');
                    }
                });
            filterSchools();
        });

        $('#adm').change(function() {
            filterSchools();
        });

        $('#municipality').change(function() {
            filterSchools();
        });

        $('#schoolName').change(function() {
            filterSchools();
        });
    });
</script>
