{{!-- represents a master template - wrapper for every page --}}
<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/drawer.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery.js"></script>
</head>

<body>
    <!-- Begin NavBar-->
    <nav class="navbar navbar-default">
        <p class="navbar-text"><a href="/howTo" class="navbar-link">Como é feito o ranking</a></p>
    </nav>
    <!-- End NavBar-->
    {{{body}}}
    <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    <script type="text/javascript" src="/javascripts/drawer.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
</body>

</html>
