body {
    padding: 50px;
    font: 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
}

a {
    color: #00B7FF;
}

/*Search funcionality */

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

/* Form text input */

.form-wrapper input {
    width: 200px;
    padding: 8px 3px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #eee;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}


/* Filters - select */
.mainOption {
    font: 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
}
